.letter-btn{
display: grid;
grid-template-columns: repeat(5,20%) ;
grid-template-rows: repeat(6,auto);
height: 50%;
width: 50%;
opacity: 0;
}

html{
    display: grid;
    grid-template-columns: repeat(2,50%) ;
    grid-template-rows: repeat(2,50%);
    background-image: url("file:///Users/chighalimouknass/Downloads/IMG_7784.JPG");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}

.btn{
    background-color: #808FE8;
    color: white;

}

.btn-dark{
    background-color: white;
}

.container{
    color: #FA2820;
}